/* ======== GLOBAL ======== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

img {
    display: block;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #4d5ae5;
   
}

.logo span {
    color: #2e2f42;
}

.footer .logo span{
    color: #f4f4fd;

}
.nav-link {
    color: #2e2f42;
    font-size: 16px;
    text-decoration: none;
    transition: color 250ms ease;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}


.contacts-link {
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms ease;
    font-size: 16px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ======== HERO ======== */
.hero {
    background-color: #2e2f42;
    position: relative;
    padding: 188px 0;
   
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    max-width: 496px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align:center;
    margin:0 auto;
}

.hero-btn {
    cursor: pointer;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms ease;
    position: absolute;
    left: 40px;
    bottom: 40px;

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* ======== ADVANTAGES ======== */
.features-title,
.team-title,
.portfolio-title {
    color: #2e2f42;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
}


.features-title {
    font-size: 20px;
    text-align: left;

}

.features-text {
    color: #434455;
}

.team{
    background-color: #f4f4fd;
    padding: 120px 0;

}

.team-item{
    background-color: #fff;
}
.team-name,
.team-position{
    text-align:center;
}
.team-title,
.portfolio-title {
    font-size: 36px;
    text-align:center;
    
}
.portfolio {
    padding: 120px 0;
}


.features-text,
.team-position,
.portfolio-type,
.footer-text{
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.features-item{
    text-align:left;
}
.team-name,
.portfolio-name{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;

}
.footer{
    background-color: #2e2f42;
}
.footer-text{
    color: #f4f4fd;
}